@font-face {
    font-family: 'Cutive Mono';
    src: url('CutiveMono-Regular.eot');
    src: url('CutiveMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('CutiveMono-Regular.woff2') format('woff2'),
        url('CutiveMono-Regular.woff') format('woff'),
        url('CutiveMono-Regular.ttf') format('truetype'),
        url('CutiveMono-Regular.svg#CutiveMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Elephant';
    src: url('Elephant-Regular.eot');
    src: url('Elephant-Regular.eot?#iefix') format('embedded-opentype'),
        url('Elephant-Regular.woff2') format('woff2'),
        url('Elephant-Regular.woff') format('woff'),
        url('Elephant-Regular.ttf') format('truetype'),
        url('Elephant-Regular.svg#Elephant-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: #000;
    overflow:hidden;
  /*background-image: url("12.jpg");*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }


/* ==========================================================================
home section
========================================================================== */


#hidmenu{
  position: absolute;
  left: 35px;
  top: 40%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 35vh;
  background: transparent;

}
#hidhome{
  width: 60px;
  height: 20%;
  margin-top: 10%;
  margin-left: -65px;
  background: transparent;
  color: #999999;
  text-align: center;
  cursor: pointer;
  /*border-bottom: 2px solid #999;*/
  font-size: 2.7em;

}

#hidhome:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 20%;
  margin-left: -5px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  transition: .4s;
  z-index: 1;
  

}
#hidhome:hover:before{
  position: absolute;
  content: '';
  width: 40px;
  height: 20%;
  margin-left: -3px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  z-index: 1;
  

}

#homelogo{
   width: 50%;
  height: 100%;
}
#hidmix{
  width: 60px;
  height: 20%;
  margin-top: 10%;
  margin-left: -65px;
  background: transparent;
  color: #999999;
  text-align: center;
  cursor: pointer;
  /*border-bottom: 2px solid #999;*/
  font-size: 2.5em;

}
#hidmix:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 20%;
  margin-left: -5px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  transition: .4s;
  z-index: 1;
  

}
#hidmix:hover:before{
  position: absolute;
  content: '';
  width: 40px;
  height: 20%;
  margin-left: -3px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  z-index: 1;
  

}

#hidwork{
  width: 60px;
  height: 20%;
  margin-top: 10%;
  margin-left: -65px;
 background: transparent;
  color: #999999;
  text-align: center;
  cursor: pointer;
  /*border-bottom: 2px solid #999;*/
  font-size: 2em;
}

#hidwork:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 20%;
  margin-left: -5px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  transition: .4s;
  z-index: 1;
  

}

#hidwork:hover:before{
  position: absolute;
  content: '';
  width: 40px;
  height: 20%;
  margin-left: -3px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  z-index: 1;
  

}

#hidctct{
  width: 60px;
  height: 25%;
  margin-top: 5%;
  margin-left: -65px;
  background: transparent;
  color: #999999;
  text-align: center;
  cursor: pointer;
  padding-bottom: -4%;
  /*border-bottom: 2px solid #999;*/
  font-size: 2.7em;

}

#hidctct:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 25%;
  margin-left: -3px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  transition: .4s;
  z-index: 1;
  

}

#hidctct:hover:before{
  position: absolute;
  content: '';
  width: 40px;
  height: 25%;
  margin-left: -3px;
  margin-top: 0;
  border-bottom: 2px solid #999;
  background: transparent;
  z-index: 1;
  

}


.btn-menu{
  position: absolute;
  width: auto;
  height: 30px;
  top: 40px;
  left: 4%;
  background: transparent;
  cursor: pointer;
}
.lines{ 
  width: 40px;
  height: 40px;
  margin-top: 1px;
  background: transparent;
  float: left;
}

.btn-menu .lines span{position:relative;display:block;height:3px;background:#999999;float:right;}

.btn-menu .lines span:nth-child(1){margin-top:3px;width:80%;}
/*.btn-menu .lines:hover span:nth-child(1){transform: rotate(120deg);}*/


.btn-menu .lines span:nth-child(2){margin-top:3px;width:60%}
/*.btn-menu .lines:hover span:nth-child(2){width:80%;transform: rotate(40deg);}*/


.btn-menu .lines span:nth-child(3){margin-top:3px;width:50%;}
/*.btn-menu .lines:hover span:nth-child(3){transform: translateY(-6px);opacity: 0}*/

.menutext{
  position: relative;
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.5em;
  font-weight: bold;
  color: #00e6e6;
  font-family: sans-serif;
  margin-top: 0px;
}
.menutext:hover{
  text-decoration: none;
}


.bottombar{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom:0; 
  /*border-top:2px solid #fff;*/
  background: transparent;
}

.crights{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 4%;
  background:transparent;
  color: #fff;
   line-height: 30px;
  float: left;
  cursor: pointer;
}


.privacy{
   position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: 100%;
  background:transparent;
  color: #fff;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  visibility: hidden;
}
.terms{
  position: absolute;
  right:1%;
  transform: translate(-50%,-50%);
  width: auto;
  height: 100%;
  background: transparent;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}


#middlebar{
  position: absolute;
  width: 300px;
  height: 200px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:transparent;
}

#logo2{

    width: 100%;
    height: 100%;

}

#home {
    width: 45%;
    height: 100vh;
    box-shadow: 0px 0px 2px #FFF;
    position: absolute;
    top: 0;
  left: 25%;
    overflow:hidden;
  background-image: url("12.jpg");
  /*background-size: 1366px 612px;*/
  /*background-position:50% 0;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  cursor: pointer;
  display: none;

}


#pic{
    width: 60%;
    height: 20%;
    position: absolute;
    top:10%;
    left:20%;
    box-shadow: 0px 0px 2px rgba(255,255,255,.5);
    background: transparent;
    opacity: 0;
}
#logo{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    float: right;
    right:1%;
    background: transparent;

}

#logo1{
    width: 70px;
    height: 70px;
}


#name{
  width: 100%;
  height:15%;
  position: absolute;
  top: 40%;
 float: left;
 left: -5%;
  background:transparent;
  display: none;
 /* font-size: 5em;
  text-align: center;
  font-family: elephant;
  */

}

#name1{
  width: 100%;
  height: 80%;
  top: 10%;

}
#am{
  width: 60%;
  left: 20%;
  height: 50px;
  position: absolute;
  top: 65%;
  line-height: 50px;
 /* padding-top: 50px;*/
  font-size: 1.5em;
  color:#ccc;
  text-align: center;
  background-color:transparent;
  box-shadow: 2px 2px 4px rgba(255,255,255);
  text-decoration: none;
  letter-spacing: 2px;
   text-shadow: 2px 2px 6px rgba(255,255,255);
  overflow: hidden;
  transition:.5s;
  z-index: 1;
}

#am:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(120deg, #000000,#000000,#333333,#666666, #808080,transparent,transparent);
  background: -webkit-linear-gradient(120deg, #000000,#000000,#333333,#666666, #808080,transparent,transparent);
  background: linear-gradient(120deg, #000000,#000000,#333333,#666666, #808080,transparent,transparent);
  z-index: -1;
  transition: 2s;

}
#am:hover:before{
  transform:translateX(-100%);
}




.active{
   color: #fff;
   text-shadow: 2px 0px 4px rgba(255,255,255);

}
#texts{
  width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
  overflow-y: scroll;
  display: none;

/*    top: 60%;
    left: 0%;*/
  /*transform: translate(-50%,-50%);*/
  background:transparent;
}

#content{
  position: relative;
  width: auto;
  height: auto;
  color: #fff;
   font-family: "Cutive Mono", monospace,"Comic Sans MS", cursive, sans-serif;
  font-size: 0.94em;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 2%;
  margin-left: 7%;
  text-transform: uppercase;
}

#signature{
  width: 200px;
  height: 50px;
  float: right;
  margin-top: -5px;
  margin-right: 2%;
  background:transparent;
  opacity: 0;
}

#signature1{
   width: 100%;
    height: 60px;
}

#mix {
    width: 65%;
    top: 15%;
    height: 70vh;
    box-shadow: 0px 0px 2px #FFF;
    position: absolute;
  left: 5%;
 background-image: url("12.jpg");
  /*background-size: 1366px 612px;*/
  /*background-position:50% 0;*/
  opacity: 0.8;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  cursor: pointer;
  display: none;


}

#mymix{
  width: 80%;
    height: auto;
    position:relative;
    top: 10%;
  background:transparent;
  font-size: 2.5em;
 margin-left: 10%;
  text-align: left;
  font-family:'Elephant';
  text-decoration: underline;
  color: #009999;
}
#recmix{
    width: 47%;
    height: 52vh;
    position:relative;
    top: 10vh;
    float: left;
    margin-left: 1%;
    background:transparent;
}
#rec{
    width: 95%;
    height: 40px;
    position:absolute;
    /*top: 8vh;*/
    background:transparent;
    color: #fff;
    font-size: 1.4em;
    text-align: left;
    line-height: 40px;
    padding-left: 5%;
    font-family:cursive, sans-serif;
}
#recscroll{
  margin-top: 33px;
    width: 100%;
    height: 42vh;
    overflow-y: scroll; 
    background:transparent;
}

#rec1{
    width: 100%;
    height: 80px;
    position:relative;
    margin-top: 48px;
    background:#0ff;
}

#rec1vid{
    width: 30%;
    height: 80px;
    border-right: 2px solid #000;
    position:relative;
    float: left;
    background:transparent;
}

#rec2vid{
    width: 30%;
    height: 80px;
    border-right: 2px solid #000;
    position:relative;
    float: left;
    background:transparent;
}

#rec3vid{
    width: 30%;
    height: 80px;
    border-right: 2px solid #000;
    position:relative;
    float: left;
    background:transparent;
}

#rec4vid{
    width: 30%;
    height: 80px;
    border-right: 2px solid #000;
    position:relative;
    float: left;
    background:transparent;
}


#rec2{
    width: 100%;
    height: 80px;
    position:relative;
    margin-top: 20px;
    background:#0ff;
    /*display: none;*/

}


#rec3{
    width: 100%;
    height: 80px;
    position:relative;
    margin-top: 20px;
    background:#0ff;
    /*display: none;*/

}
#rec4{
    width: 100%;
    height: 80px;
    position:relative;
    margin-top: 20px;
    background:#0ff;
    /*display: none;*/

}


#playlistmix{
    width: 50%;
    height: 62vh;
    position:relative;
    top: 0;
    float: right;
    background:transparent;
}
#plist{
   width: 95%;
    height: 40px;
    position:absolute; 
    /*top: 8vh;*/
    background:transparent;
    color: #fff;
    font-size: 1.9em;
    text-align: center;
    line-height: 40px;
    padding-left: 5%;
    text-decoration: underline;
    font-family:cursive, sans-serif;
    z-index: 1;
}

#plistscroll{
  margin-top: 43px;
    width: 100%;
    height: 50vh;
    overflow-y: scroll; 
    background:transparent;
}

#work {
    width: 60%;
    top: 12%;
    height: 76vh;
    box-shadow: 0px 0px 2px #FFF;
    position: absolute;
  left: 25%;
 background-image: url("12.jpg");
/* overflow: hidden;*/
  /*background-size: 1366px 612px;*/
  /*background-position:50% 0;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  cursor: pointer;
  display: none;


}


#mysvc{
  width: 80%;
    height: auto;
    position:relative;
    top: 10%;
    left: 10%;
  background:transparent;
  font-size: 2.5em;
  text-align: right;
  font-family: 'Elephant';
  text-decoration: underline;
  color: #009999;
}
#svcs{
  width: 100%;
    height: 60vh;
     margin-top: 7%;
  background:transparent;
  color: #fff;
  font-family: "Cutive Mono", monospace,"Comic Sans MS", cursive, sans-serif;

}

#available{
    width: 95%;
    height: 60px;
    position:relative;
    top: 4vh;
    background:transparent;
    color: #fff;
    font-size: 1.4em;
    text-decoration: underline;
    text-align: right;
    line-height: 60px;
    padding-right:  5%;
    font-family:cursive, sans-serif;
}

#Personal{
    width: 50%;
    height: 40vh;
    position:relative;
    top: 4vh;
    background:transparent;
    color: #fff;
    font-size: 1.4em;
    text-align: left;
    float: left;
    overflow: hidden;
    overflow-y: scroll; 
    margin-left: -5%;
  font-family: "Cutive Mono", monospace,"Comic Sans MS", cursive, sans-serif;

}

#Corporate{
    width: 50%;
    height: 40vh;
    position:relative;
    top: 4vh;
    background:transparent;
    float: right;
    padding-right: 5%;
    color: #fff;
    font-size: 1.4em;
    text-align: right;
    overflow: hidden;
    overflow-y: scroll; 
  font-family: "Cutive Mono", monospace,"Comic Sans MS", cursive, sans-serif;

}


#contact{
    width: 70%;
    top: 20%;
    height: 60vh;
    box-shadow: 0px 0px 2px #FFF;
    position: absolute;
  left: 25%;
 background-image: url("12.jpg");
  opacity: 0.8;
  /*background-size: 1366px 612px;*/
  /*background-position:50% 0;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  cursor: pointer;
  display: none;

}

#ctct{
  width: 90%;
  height: auto;
  position:relative;
  top: 10%;
  background:transparent;
  font-size: 2.5em;
  text-align: right;
  font-family:'Elephant';
  text-decoration: underline;
  color: #009999;

}

#ctcs{
  width: 100%;
    height: 40vh;
     margin-top: 5%;
  background:transparent;
   font-size: 1.6em;
  color: #000;

}
#social{
  width: 65%;
  height: 10vh;
  margin-top: 15vh;
  background:#fff;
  float: left;
  font-size: 1.6em;
  color: #000;

}
#find{
  width: 30%;
  height: 35vh;
  background:transparent;
  float: right;
  text-align: center;
  line-height: 15vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-left:2px solid #fff;
  padding-top: 5vh;
  font-size: 1.8em;
  color: #fff;
  overflow-y: scroll;
  /*font-family: cursive, sans-serif;*/
  font-weight: bold;

}


@media screen and (max-width: 1300px) {
#name{
 transform: scale(1.1);

}
#logo{
    right:0%;
    top: 20px;
    z-index: 4;
    transform: scale(.9);

}
 #Personal{
    font-size: 1.15em;

}

#Corporate{
    font-size: 1.15em;

}
}



@media screen and (max-width: 900px) {

  #middlebar{
  width: 250px;
  height: 150px;
}


#home {
    width: 50%;
    height: 100vh;
    box-shadow: 0px 0px 2px rgba(255,255,255,.5);
    position: absolute;
    top: 0;
  left: 25%;  }

  #Personal{
    font-size: .9em;

}

#Corporate{
    font-size: .9em;

}

}

@media screen and (max-width: 750px) {


#hidmenu{
  top: 30%;

}
  .btn-menu{
  top: 40px;
}

/*#body{
  background: #000;
  
}*/
#middlebar{
  width: 250px;
  height: 150px;
}


#home {
    width: 100%;
    box-shadow: 0px 0px 2px rgba(255,255,255,.5);
    position: absolute;
  background-image: url("12.jpg");
    top: 0;
  left: 0;  
}

  #logo{
    right:0%;
    top: 20px;
    z-index: 4;
    transform: scale(.9);

}
.btn-menu{
    z-index: 4;
}
.crights{
  z-index: 4;
}
.terms{
  z-index: 4;
}


}
@media screen and (max-width: 500px) {

.bottombar{
  font-size: 13px;
}
}