@font-face {
    font-family: 'Cutive Mono';
    src: url('CutiveMono-Regular.eot');
    src: url('CutiveMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('CutiveMono-Regular.woff2') format('woff2'),
        url('CutiveMono-Regular.woff') format('woff'),
        url('CutiveMono-Regular.ttf') format('truetype'),
        url('CutiveMono-Regular.svg#CutiveMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html{
    overflow: hidden;
}

body {
  position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: #000;
    overflow:hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }


/* ==========================================================================
pre-loader
========================================================================== */

#pre-loader{
  position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
}
#loader{
  height: 100%;
    width: 100%;
    margin: 0;
  }

  /* ==========================================================================
top nav
========================================================================== */

#topnav{
  position: absolute;
  top: 10px;
  left: 0;
  height: 50px;
  width: 100%;
  background: transparent;
  display: none;
  z-index: 2;
}

#menu{
  position: relative;
  top: 20px;
  left: 20px;
  height: 20px;
  width: 40px;
  background: transparent;
  overflow: hidden;
  float: left;
  cursor: pointer;
  transform: rotate(180deg);


}



#menu span{position:relative;display:block;height:1px;background:#fff;}

#menu span:nth-child(1){margin-top:4px;width:42%; animation:menuflexc 1.5s linear forwards;animation-iteration-count: 1;}
#menu span:nth-child(2){margin-top:4px;width:60%; animation:menuflexb 1s linear forwards;animation-delay:.5s;animation-iteration-count: 1;}
#menu span:nth-child(3){margin-top:4px;width:80%; animation:menuflexa .5s linear forwards;animation-delay:1s;animation-iteration-count:1;}



  @-webkit-keyframes menuflexa{
              0%{
                  width:80%;
                  
              }
              25%{
                  width:40%;
                  
              }
              50%{
                  width:0%;
                  
              }75%{
                  width:40%;
                  
              }
              100%{
                  width:80%;
                  
              }
              }


@-webkit-keyframes menuflexb{
              0%{
                  width:60%;
                  
              }
              25%{
                  width:30%;
                  
              }
              50%{
                  width:0%;
                  
              }75%{
                  width:30%;
                  
              }
              100%{
                  width:60%;
                  
              }
              }

              @-webkit-keyframes menuflexc{
              0%{
                  width:42%;
                  
              }
              25%{
                  width:21%;
                  
              }
              50%{
                  width:0%;
                  
              }75%{
                  width:21%;
                  
              }
              100%{
                  width:42%;
                  
              }
              }

#menu1{
  position: relative;
  top: 18px;
  left: 20px;
  height: 25px;
  width: 35px;
  background: transparent;
  overflow: hidden;
  float: left;
  cursor: pointer;
  display: none;

}

#menusvg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 80%;
  width: 90%;

  }

#rightop{
  position: relative;
    top: 5px;
  height: 100%;
  width: 30%;
  float:right;
  background: transparent;
}

#search-ico{
  position: relative;
  height: 100%;
  width: 25%;
  float:left;
  background: transparent;
  cursor: pointer;

}
#searching{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
    width: 50px;
  cursor: pointer;
  background: transparent;


}
#searchit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60%;
  width: 60%;
}
#search{
  position: relative;
  height:100%;
  width:60%;
  float:left;
  background: transparent;
}
.w3-input{padding:5px;display:block;border:none;border-bottom:1px solid #fff;color:#fff;width:100%;height: 35px;margin-top: 7px;background:transparent;font-size: 15px;opacity: 0;}
.w3-input:focus{
  border:none;
  border-bottom:1px solid #0099ff;
  background:transparent;
}
.w3-input::placeholder{
  color: #0099ff;
}

#toggle{
  position: relative;
  height: 100%;
  width: 15%;
  float:right;
  text-align: center;
  font-size: 35PX;
  color: #fff;
  line-height: 50px;
  background: transparent;
  cursor: pointer;
  opacity:0;
  transition: .5s;

}

#search-overlay{
  position: relative;
  top: -85%;
  height: 100%;
  width: 130%;
  background: transparent;
  z-index: 2;
}



#volume{
  position: relative;
  height: 100%;
  width: 30%;
  float:left;
  background: transparent;
  cursor: pointer;

}
#off{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  float: left;
  font-size: 30px;
  background: transparent;
  z-index: 2;
}
#on{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  float: left;
  font-size: 20px;
  background: transparent;
  z-index: 1;

}
#logo{
  position: relative;
  height: 100%;
  width: 30%;
  margin-left: 5%;
  float:left;
  background: transparent;
  cursor: pointer;

}

#logoo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 50px;
    width: 50px;
  cursor: pointer;

}
#logos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
    width: 100%;
  cursor: pointer;

}
#play{
  position: relative;
  height: 100%;
  width: 30%;
  margin-left: 5%;
  float:left;
  background: transparent;
  cursor: pointer;

}
#play-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 25px;
    width: 25px;
  background:transparent;
  cursor: pointer;

  }
  #playit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
    width: 100%;
  cursor: pointer;

  }
#navleft{
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%,-50%);
  height: 240px;
  width:60px;
  background:transparent;
  overflow: hidden;
  z-index: 2;
  display: none;

}
#hidhome{
  position: relative;
  width: 100%;
  height: 20%;
  margin-top: 10%;
  margin-left: -100%;
  float: left;
  background:transparent;
  display: none;
  opacity: 0;


}
#home-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  width: 50px;
  cursor: pointer;
  background:transparent;

}
#home-svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width: 70%;
  cursor: pointer;


}
#hidmix{
  position: relative;
  width: 100%;
  height: 20%;
  margin-top: 20%;
  margin-left: -100%;
  float: left;
  background:transparent;
  display: none;
  opacity: 0;



}
#mix-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  background:transparent;

}

#hidwork{
  position: relative;
  width: 100%;
  height: 20%;
  margin-top: 20%;
   margin-left: -100%;
  float: left;
  background:transparent;
  display: none;
  opacity: 0;



}

#work-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  background:transparent;

}

#hidctct{
  position: relative;
  width: 100%;
  height: 20%;
  float: left;
  margin-top: 20%;
   margin-left: -100%;
  background:transparent;
  display: none;
  opacity: 0;

}

#ctct-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  background:transparent;

}
#navright{
  position: absolute;
  top: 30%;
  left:74%;
  transform: translate(-50%,-50%);
  height: 240px;
  width:50%;
  background:#0ff;
  display: none;
  z-index: 2;
}
#middlebar{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 60%;
  background: transparent;
  display: none;
}
#name{
  position: relative;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 100%;
    background:transparent;
  overflow: hidden;
  /*border-bottom: 2px solid #fff;*/


}

#name-svg{
  position: absolute;
  top: 200%;
  left: 45%;
  transform: translate(-50%,-50%);
  height: 300%;
  width: 300%;
}
#explore{
  position: relative;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 100%;
  color: #000;
  overflow: hidden;
  background:transparent;

}

#defs-ico{
  position: absolute;
  top: -100%;
  left: 0%;
  height: 100%;
  width: 100%;
  background:transparent;


}

#defs{
  color: #ffff00;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  font-family: 'Cutive Mono';
}

#music-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 400px;
  background:transparent;
  display: none;

}

#music{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 200px;
  background:transparent;
  border-right: 2px solid #fff;
  display: none;
}

#musicc{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  font-weight: bold;
  display: none;
}

#music-sounds{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 200px;
  background:transparent;
  display: none;
}

#sounds{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

#music-experiences{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 200px;
  background:transparent;
  display: none;

}


#experiences{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

#travel-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 400px;
  background:#000;
  display: none;



}

#travel{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 200px;
  background:#ff0;

  display: none;

}

#travell{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  font-weight: bold;
  display: none;

}

#travel-tours{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 200px;
  background:#000;
  display: none;

}

#tours{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  display: none;

}



#travel-sights{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 200px;
  background:#ff0000;
  display: none;


}

#sights{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  display: none;

}

#Photography-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 400px;
  background:#ff0;
  display: none;



}

#Photography{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 200px;
  background:#000;
  display: none;


}
#Photographyy{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  font-weight: bold;
  display: none;

}

#Photography-nature{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 200px;
  background:#000;
  display: none;


}


#nature{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  display: none;

}

#Photography-clarity{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 200px;
  background:#00ff00;
  display: none;


}


#clarity{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  display: none;

}


#bottomnav{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width:100%;
  background:transparent;
    display: none;

}
#copyrights{
  position: relative;
  height: 100%;
  width: 50%;
  float:left;
  color:#999;
  background: transparent;
}


#copyrights p{
  padding-left: 20px;
}
#developer-terms{
  position: relative;
  height: 100%;
  width: 50%;
  float:right;
  color: #ffff00;
  background: transparent;
}

#developer{
  position: relative;
  height: 100%;
  width: 50%;
  text-align: right;
  float:left;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}
#developer p{
  padding-right: 20px;
}

#developer::after{
  content: '';
  position: absolute;
  top: 80%;
  left: 100%;
  height: 1px;
  width: 80%;
  background: #0099ff;
  transition: .5s;
}

#terms{
  position: relative;
  height: 100%;
  width: 50%;
  text-align: right;
  float:right;
  background: transparent;
  cursor: pointer;

}
#terms p{
  padding-right: 20px;
}
#terms::after{
  content: '';
  position: absolute;
  top: 80%;
  left: 100%;
  height: 1px;
  width: 80%;
  background: #0099ff;
  transition: .5s;
}



@media screen and (max-width: 750px) {


#pre-loader{
  position: absolute;
    height: 130px;
    width: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#topnav{
  top: 15px;
}


#menu{
  left: 5px;
}

#search-ico{
  opacity: 0;

}
#logo{
  opacity: 0;

}
#play{
  opacity: 0;

}
#search{
  width:50%;
}


#toggle{
  line-height: 45px;
  width: 25%;
  opacity: 1;
  z-index: 3;

}
#navleft{
  position: absolute;
  top: 30%;
  left: 30px;
  transform: translate(-50%,-50%);

}
#navright{
  position: absolute;
  top: 30%;
  left:74%;
  transform: translate(-50%,-50%);


}
#middlebar{
  width: 100%;
}

#name-svg{
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200%;
  width: 200%;
  cursor: pointer;
}

#defs{
  font-size: 21px;
 /* line-height: 40px;
  margin-top: 20px;*/
}
#copyrights{
  width: 40%;
  font-size: 12px;
}
#copyrights p{
  padding-left: 0;
}
#developer-terms{
  width: 50%;
  font-size: 12px;

}
#developer p{
  padding-right: 0;
}
#terms p{
  padding-right: 0;
} 
}


@media screen and (max-height: 600px) {

  #navleft{
  position: absolute;
  top: 35%;
  left: 50px;
  transform: translate(-50%,-50%);

}
#navright{
  position: absolute;
  top: 37%;
  left:74%;
  transform: translate(-50%,-50%);

}

}
@media screen and (max-height: 500px) {

  #navleft{
  position: absolute;
  top: 40%;
  left: 50px;
  transform: translate(-50%,-50%);

}

  #navright{
  position: absolute;
  top: 42%;
  left:74%;
  transform: translate(-50%,-50%);

}

}
@media screen and (max-height: 450px) {

  #navleft{
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%,-50%);
}

  #navright{
  position: absolute;
  top: 52%;
  left:74%;
  transform: translate(-50%,-50%);

}
  #middlebar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 170px;
  width: 60%;
}
#defs{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  margin-top: 10px;
}

}
@media screen and (max-height: 350px) {

  #navleft{
  position: absolute;
  top: 50%;
  left: 50px;
  height: 200px;
  transform: translate(-50%,-50%);

}

  #navright{
  position: absolute;
  top: 52%;
  left:74%;
  height: 180px;
  transform: translate(-50%,-50%);

}

 #middlebar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 140px;
  width: 60%;
}
#defs{
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-top: 5px;
}
}





